apiVersion: v1
kind: Service
metadata:
 name: {{ include "webserver.fullname" . }}
 namespace: codewizard
 labels:
   {{- include "webserver.labels" . | nindent 4 }}
spec:
 type: {{ .Values.service.type }}
 ports:
   - port: {{ .Values.service.port }}
     targetPort: http
     protocol: TCP
     name: http
 selector:
   {{- include "webserver.selectorLabels" . | nindent 4 }}  